<?xml version="1.0" encoding="utf-8"?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <add name="EPiServerDB" connectionString="#{Db}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />

  <!-- Remove these entries when not using Azure -->
  <add name="EPiServerAzureBlobs"  xdt:Transform="Insert" connectionString="#{BlobStorage}" providerName="System.Data.SqlClient" />
  <add name="EPiServerAzureEvents" xdt:Transform="Insert" connectionString="#{EventBus}" providerName="System.Data.SqlClient" />
  
</connectionStrings>