<?xml version="1.0" encoding="utf-8"?>


<episerver.framework xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appData basePath="#{AppDataPath}" xdt:Transform="SetAttributes" />
  <licensing licenseFilePath="#{LicenseFilePath}" xdt:Transform="SetAttributes"  />
  
  <!-- Remove these entries when not using Azure -->
  <blob defaultProvider="azureblobs" xdt:Transform="Insert">
    <providers>
      <add name="azureblobs" type="EPiServer.Azure.Blobs.AzureBlobProvider,EPiServer.Azure"
        connectionStringName="EPiServerAzureBlobs" container="mysitemedia"/>
    </providers>
  </blob>
  <event defaultProvider="azureevents" xdt:Transform="Insert">
    <providers>
      <add name="azureevents" type="EPiServer.Azure.Events.AzureEventProvider,EPiServer.Azure"
        connectionStringName="EPiServerAzureEvents" topic="MySiteEvents"/>
    </providers>
  </event>

</episerver.framework>