<episerver.search.indexingservice xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <clients>
    <!-- Production usually has external search service. If this is not the case. Remove the following line-->
    <add name="local" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  </clients>
</episerver.search.indexingservice>