<?xml version="1.0" encoding="utf-8" ?>

<episerver.search xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <namedIndexingServices>
    <services>
      <add name="default" baseUri="#{SearchServer}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </services>
  </namedIndexingServices>
</episerver.search>