<?xml version="1.0" encoding="utf-8" ?>

<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appender name="errorFileLogAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)" >
    <file value="#{LogDirectory}\EPiServerErrors.log" xdt:Transform="SetAttributes"/>
  </appender>

  <appender name="searchLogAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
    <file value="#{LogDirectory}\Search.log" xdt:Transform="SetAttributes"/>
  </appender>

</log4net>