<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>


  <!-- Production usually has external search service. If this is not the case. Remove the following line-->
  <location path="IndexingService/IndexingService.svc" xdt:Locator="Match(path)" xdt:Transform="Remove">
  </location>

</configuration>